body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.87);
}

.flex {
  display: flex;
}
.flex-h-center {
  justify-content: center;
}

.relative {
  position: relative;
}
